{% extends "_layout" %}

{% block content %}
    <h1>Pagina niet gevonden</h1>
    <p>De aangevraagde URL werd niet op deze server gevonden.</p>
    <a href="{{ siteUrl }}" class="button">Naar homepage</a>
{% endblock %}
