<!doctype html>
<html lang="en">
  <head>
    <title>{% if entry is defined %}{{ entry.title|raw }} - {% endif %}{{ siteName }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Bootstrap 4 website template">
    <meta name="keywords" content="fitness, bootstrap, template, html, sass, jquery">
    <meta name="author" content="Bucky Maler">
    {% block head_includes %}
        <!-- Cascading Style Sheets -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{siteUrl}}assets/css/main.min.css">
        <!-- Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% endblock %}
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  <body class="mobile-shift">

      {% block body %}
      {% endblock %}

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="{{siteUrl}}assets/js/functions.min.js"></script>
      <script src="https://use.fontawesome.com/c909099af6.js"></script>

      <!-- JavaScript -->
      <script type="text/javascript">
        $(function(){
          // Initialise colResizable
          $("table.resizable").colResizable({
              liveDrag:true,
              resizeMode:'flex'
          });
          // Disable unlinked anchors
          $("a[href='#']").on("click", function(e){
              e.preventDefault();
          });
          // Toggle mobile menu
          $("header a[href='#toggle-menu']").on("click", function(e){
              e.preventDefault();
              $(this).toggleClass("open");
              $("nav.mobile-menu").toggleClass("open");
          });
          // Minify header on scroll
          $(window).on("scroll", function(){
            if ($(this).scrollTop() > 0) {
              $("header#header").addClass("mini");
            } else {
              $("header#header").removeClass("mini");
            };
          });
          // Add class menu-item has-sub
          $('li.menu-item:has(ul)').addClass('has-sub');
          // Toggle mobile sub-menu
          $("nav.mobile-menu li.has-sub").on("click", function(e){
              if(e.target == this){
  				$(this).toggleClass("open");
  			};
          });
        });
      </script>

      {% block scripts %}
      {% endblock %}

  </body>
</html>
